html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  /* El contenedor de la imagen ocupa todo el tamaño del viewport */
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  /* Imagen con ajustes opcionales para no desbordar */
  .responsive-image {
    max-width: 100%;
    max-height: 100%;
  }