*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
/* Navbar 2 */
.navbar-nav.m-auto li{
    margin-right: 80px;
}
.dropdown-item {
    color: rgb(228, 134, 134) !important;
} 
.navbar-gradient{
    background: linear-gradient(to right, #bdbbbe, #3f4146);
}
.navbar-segunda-fila{
    background-color: #dc3545;
    width: 100%; 
    padding: 10px; 
    margin: 0; 
}

.navbar-segunda-fila .navbar-collapse {
    margin: 0; 
    padding: 0; 
}
.navbar-nav{
    display: flex;   
    justify-content: center;
}
.navbar-gradient{
    background: linear-gradient(to right, #bdbbbe, #3f4146);
}

.navbar-gradient2{
    background: linear-gradient(to right, #e2939b, #e05d6a, #dc3545);
}
.carousel-img {
    object-fit: cover;
    width: 100%;
}

/* Alturas específicas para diferentes tamaños de pantalla */
@media (max-width: 576px) { /* Pantallas extra pequeñas */
    .carousel-img {
        max-height: 200px;
    }
}

@media (min-width: 576px) and (max-width: 768px) { /* Pantallas pequeñas */
    .carousel-img {
        max-height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 992px) { /* Pantallas medianas */
    .carousel-img {
        max-height: 400px;
    }
}

@media (min-width: 1200px) { /* Pantallas grandes */
    .carousel-img {
        max-height: 700px;
    }
}
/* Imagen hero */

.banner {
    background-image: url(/bibliomax/image/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; 
}

.title {
    font-size: 5rem; 
}

h2 {
    font-size: 1.5rem; 
}


@media (max-width: 768px) {
    .title {
        font-size: 2.5rem; 
    }

    h2 {
        font-size: 1.2rem; 
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 2rem; 
    }

    h2 {
        font-size: 1rem; 
    }

    .banner {
        height: 60vh; 
    }
}
.responsive-text {
    text-align: center; 
    padding: 20px; 
}
.banner h2{
    color: #ffffff;
}
.title{
    color: #ffffff;
    border: #000000;
    
}
/* Titulos */
.titulo{

    background: linear-gradient(to right, #bdbbbe, #3f4146);
}
/* Carrusel de libros */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.card {
    margin: 1rem;
    width: 75%;
    background: linear-gradient(to right, #e2939b, #e05d6a, #dc3545);
}
@media (max-width: 576px) {
    .card-wrapper {
        flex-wrap: nowrap;
    }
    .card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .card {
      width: calc(100% / 1); /* Pantalla pequeña-mediana */
    }
}

@media (min-width: 768px) {
    .card {
      width: calc(100% / 4); /* Pantalla mediana */
    }
}

@media (min-width: 992px) {
    .card {
      width: calc(100% / 6); /* Pantalla grande */
    }
}
.image-wrapper img {
    width: 100%;
    height: auto;
}
.card img {
    padding: 10px;
    width:100%;
    height: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body {
    display: flexbox;
    padding: 5px;
    text-align: center;
}
.card-title-libro, .card-text{
    font-size: small;
    margin-top:5px;
    color: #ffffff;
}
.card-text {
    font-size: 10px;
    padding: -20px;
}
.button{
    margin: 0;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(0);
    background-color: #a0d1c6;
    border-color: #000000;
}
.titulo {
    margin-top: 15px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    color: white; 
    border-radius: 5px; 
}
.card-img-top {
    transition: transform 0.5s ease; /* Suaviza la transición */
  }

.card-img-top:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
  }
/* footer */
footer {
    width: 100%;
}